<a href="https://colab.research.google.com/github/mohmaed7777/Data-Visualization-with-Python/blob/master/Intro_to_Matplotlib_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploring Datasets :**

In [0]:
# The first thing we'll do is to import the two key data analysis modules pandas & numpy :
import pandas as pd 
import numpy as np

In [0]:
# The dataset contains annual data on the flows of international immigrants to Canada as recorded by the countries of destination.
# The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals.
# The current version presents data pertaining to 45 countries.

In [3]:
# Read our dataset as pandas dataframe !
df_can = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)
print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [5]:
# Let's to view the top 5 rows of the dataset by using head() method:
df_can.head()

         Type    Coverage          OdName  AREA  ...  2010  2011  2012  2013
0  Immigrants  Foreigners     Afghanistan   935  ...  1758  2203  2635  2004
1  Immigrants  Foreigners         Albania   908  ...   561   539   620   603
2  Immigrants  Foreigners         Algeria   903  ...  4752  4325  3774  4331
3  Immigrants  Foreigners  American Samoa   909  ...     0     0     0     0
4  Immigrants  Foreigners         Andorra   908  ...     0     0     1     1

[5 rows x 43 columns]